body {
    background-color: black;
}

h1 {
    color: gray;
    text-align: center;
    border: 3px dashed gray
}
form{
    text-align: center;
}
#submit-button {
    background-color: darkcyan;
    color: white;
}
#submit-button:hover {
    background-color: #444444;
    border: 2px solid white}

#removeButton {
    background-color: darkgoldenrod;
}

#removeButton:hover {
    border: 2px solid white;
}